google-api-python-client
openai 
ftfy 
ffmpeg #audio library 
pillow
recipe-scrapers
git+https://github.com/openai/whisper.git
jupyter
wavio
scipy
sounddevice
pandas
wolframalpha
wikipedia
SpeechRecognition
ecapture
twilio
pyjokes
beautifulsoup4

